<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <!--Root menu for SCE-->
        <menuitem id="menu_leaf_root" name="Leaf"  sequence="-2" />

        <menuitem name="Leaf Tracking" parent="menu_leaf_root" id="menu_leaf_head_id" sequence="900" />
        
        
         <record id="act_leaf_area" model="ir.actions.act_window">
            <field name="name">Areas</field>
            <field name="res_model">leaf.area</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="leaf_area_tree_view"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Leaf Areas
                </p>
            </field>
        </record>
        
         <record id="act_woo_leaf_area" model="ir.actions.act_window">
            <field name="name">Areas on Leaf</field>
            <field name="res_model">woo.leaf.area</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="woo_leaf_area_tree_view"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Woo Leaf Areas
                </p>
            </field>
        </record>

        
        <menuitem action="act_leaf_area" id="menu_leaf_area" name="Areas" parent="menu_leaf_head_id" sequence="10"/>
        <menuitem action="act_woo_leaf_area" id="menu_woo_leaf_area" name="Areas on api side" parent="menu_leaf_head_id" sequence="20"/>


    </data>
</openerp>
